<!-- Portfolio Grid Section -->
    <section id="servizi" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Servizi</h2>
                    <h3 class="section-subheading text-muted">I nostri servizi nello specifico:</h3><br>
<ul><li>vendita pietre preziose</li>
<li>vendita diamanti</li>
<li>ritaglio di pietre danneggiate o taglio su misura di pietre grezze</li>
<li>vendita macchinari per analisi e taglio di pietre preziose</li>
<li>corsi di gemmologia e taglio</li>
<li>stima e certificazione di pietre sciolte o pezzi di gioielleria</li>
<li>acquisto di gioielleria o pietre di seconda mano</li>
</ul>
La nostra professionalità e competenza sono a vostra disposizione per qualsiasi richiesta, domanda o chiarimento.
                </div>
            </div>
            
        </div>
    </section>
